body {
    font-family: 'Poppins', sans-serif;
    background-color: #1C2F40;
}

#requirement-list li {
    background-color: white;
    padding: 10px;
    margin: 10px auto; /* centraliza a div */
    text-align: left;
    font-weight: bold; /* torna o texto em negrito */
    width: 80%; /* diminui o tamanho da div para 80% da largura total */
    
}

.yellow-button{
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.red-button {
    border: none;
    color: white;
    padding: 5px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 0;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.green-button {
    border: none;
    color: white;
    padding: 5px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 0;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.yellow-button {
    background-color: yellow;
}

.green-button {
    background-color: green;
}

.red-button {
    background-color: red;
}

.green-button, .red-button {
    float: right;
    /* restante do CSS */
}

li::after {
    content: "";
    display: table;
    clear: both;
}

#solicitacoes {
    padding: 10px;
    margin: 10px auto; /* centraliza a div */
    text-align: left;
    font-weight: bold; /* torna o texto em negrito */
    width: 80%; /* diminui o tamanho da div para 80% da largura total */
}